<div id="delete-modal"  aria-hidden="true" class="hidden overflow-x-hidden overflow-y-auto fixed h-modal md:h-full top-4 left-0 right-0 md:inset-0 z-50 justify-center items-center">
    <div class="bg-white px-16 py-14 rounded-md text-center">
      <h1 class="text-xl mb-4 font-bold text-slate-500">Do you Want Delete</h1>
      <button  class="bg-indigo-500 px-4 py-2 rounded-md text-md text-white" data-modal-toggle="delete-modal">Cancle</button>
      <button  data-modal-toggle="delete-modal"  class="bg-red-500 px-7 py-2 ml-2 rounded-md text-md text-white font-semibold"  (click)="delete()" >Ok</button>
    </div>
  </div>