

            <div>
              <div class="p-4">
                <div class="bg-white p-4 rounded-md">
                  <div>
                    <div class="flex justify-between items-center my-2">
                      <h2 class="mb-4 text-xl font-bold text-gray-700">Staff management</h2>
                      <button class="p-2 mr-2 border-sky-500 border text-sky-500 rounded transition duration-300 hover:bg-sky-500 hover:text-white focus:outline-none" data-modal-toggle="add-modal" (click)="selectStaff({})">add</button>
                    </div>
                    
                      <table class="min-w-full">
                        <thead>
                          <tr >
                            <th class="px-6 py-3 border-b-2 border-sky-300 text-left leading-4 text-sky-500 tracking-wider">image</th>
                            <th class="px-6 py-3 border-b-2 border-sky-300 text-left text-sm leading-4 text-sky-500 tracking-wider">name</th>
                            <th class="px-6 py-3 border-b-2 border-sky-300 text-left leading-4 text-sky-500 tracking-wider">phone</th>
                            <th class="px-6 py-3 border-b-2 border-sky-300 text-left text-sm leading-4 text-sky-500 tracking-wider">adress</th>
                            <th class="px-6 py-3 border-b-2 border-sky-300"></th>
                          </tr>
                        </thead>
                        <tbody >
                          <tr  *ngFor="let s of this.staff ">
                            <td class="px-6 py-4 border-b  text-sm"> <img style="max-width: 40px;"  [src]="s.image!" (error)="imageError($event)" class=" doc-img rounded-xl drop-shadow-md"></td>
                            <td class="px-6 py-4   border-b  text-sm">{{s.firstname!}}</td>
                            <td class="px-6 py-4 border-b  text-sm">{{s.lastname!}}</td>
                            <td class="px-6 py-4   border-b  text-sm">{{s.phone!}}</td>
                            <td class="px-6 py-4  text-right border-b  text-sm ">
                              <button class="p-2 mr-2 border-sky-500 border text-sky-500 rounded transition duration-300 hover:bg-sky-500 hover:text-white focus:outline-none" data-modal-toggle="delete-modal" (click)="selectStaff(s)" >delete</button>
                              <button class="p-2 mr-2 border-sky-500 border text-sky-500 rounded transition duration-300 hover:bg-sky-500 hover:text-white focus:outline-none" data-modal-toggle="update-modal" (click)="selectStaff(s)" >update</button>
                              
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                
    <app-add-secretaire  [user]="this.selectedStaff" [MOs]="this.MOs" [list]="this"   ></app-add-secretaire>
    <app-update-secretaire [user]="this.selectedStaff" [MOs]="this.MOs" [list]="this" ></app-update-secretaire>
    <app-delete-secretaire   [user]="this.selectedStaff" [list]="this"    ></app-delete-secretaire>
              </div>


